# git commit template setting
git config --local commit.template .commit-template

# git submodule update setting
git submodule update --init --recursive

# taskfile init
# task init

# pre-commit hooks setup
pre-commit install